---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import NavigationBarAdmin from "@/components/NavigationBarAdmin.astro";
import ComplaintDescription from "@/components/ComplaintDescription.astro";
---

<Layout title="Mis denuncias">
    <NavigationBarAdmin />
    <div class="relative overflow-hidden bg-white h-full">
        <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-16 lg:pb-48">
            <div
                class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8"
            >
                <div class="sm:max-w-lg">
                    <h1
                        class="font text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
                    >
                        Denuncias Recibidas
                    </h1>
                    <p class="mt-4 text-xl text-gray-500">
                        En esta sección podrás ver las denuncias que has
                        recibido.
                    </p>
                </div>
                <div>
                    <div class="mt-10">
                        <ComplaintDescription />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</Layout>

