---
import NavigationBar from "../components/NavigationBar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
	<NavigationBar />

	<div class="relative overflow-hidden bg-white h-full">
		<div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
			<div
				class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8"
			>
				<div class="sm:max-w-lg">
					<h1
						class="font text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
					>
						No tengas miedo
					</h1>
					<p class="mt-4 text-xl text-gray-500">
						En KeepURight! estamos para ayudarte, no dudes en
						denunciar cualquier situación que te haga sentir
						inseguro.
					</p>
				</div>
				<div>
					<div class="mt-10">
						<!-- Decorative image grid -->
						<div
							aria-hidden="true"
							class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl"
						>
							<div
								class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8"
							>
								<div
									class="flex items-center space-x-6 lg:space-x-8"
								>
									<div
										class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
									>
										<div
											class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100"
										>
											<img
												src="https://img.freepik.com/foto-gratis/confianza-joven-caucasica-pulgares-arriba-mirando_141793-70533.jpg?t=st=1733173769~exp=1733177369~hmac=66fde0318d6a2c5eaf23a89e0089e2984bd21cd90984ef8d7a91a45bb12ece1c&w=996"
												class="h-full w-full object-cover object-center"
											/>
										</div>
										<div
											class="h-64 w-44 overflow-hidden rounded-lg"
										>
											<img
												src="https://img.freepik.com/foto-gratis/comunidad-jovenes-positivos-juntos_23-2148431352.jpg?t=st=1733173806~exp=1733177406~hmac=50bcd4ed9a6c023f52aff4ab54caf4eeb863c866b386029120b94d1cbd8919f3&w=1060"
												alt=""
												class="h-full w-full object-cover object-center"
											/>
										</div>
									</div>
									<div
										class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
									>
										<div
											class="h-64 w-44 overflow-hidden rounded-lg"
										>
											<img
												src="https://img.freepik.com/fotos-premium/mano-masculina-sostiene-cadena-metal-oxidado_116441-3755.jpg?w=360"
												alt=""
												class="h-full w-full object-cover object-center"
											/>
										</div>
										<div
											class="h-64 w-44 overflow-hidden rounded-lg"
										>
											<img
												src="https://img.freepik.com/vector-gratis/ilustracion-concepto-trastorno-panico_114360-14363.jpg?t=st=1733173933~exp=1733177533~hmac=49461e4232564fb5feb126b05792446b628867eb7e882b679febde8601bea629&w=740"
												alt=""
												class="h-full w-full object-cover object-center"
											/>
										</div>
										<div
											class="h-64 w-44 overflow-hidden rounded-lg"
										>
											<img
												src="https://img.freepik.com/foto-gratis/retrato-nina-bonita-divirtiendose_23-2148853483.jpg?t=st=1733173982~exp=1733177582~hmac=e1ad056aa39fb9d412ff4a3c4bc3846b4fa36604ba9e515d8052b5ef7eaebed0&w=360"
												alt=""
												class="h-full w-full object-cover object-center"
											/>
										</div>
									</div>
									<div
										class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8"
									>
										<div
											class="h-64 w-44 overflow-hidden rounded-lg"
										>
											<img
												src="https://img.freepik.com/foto-gratis/amigos-formando-forma-estrella-dedos_23-2148576835.jpg?t=st=1733174169~exp=1733177769~hmac=49f8aef021bfdab6c1f661cd3e1d4dbe2f8720d3b23959f04f3a9b07ab4235e3&w=360"
												alt=""
												class="h-full w-full object-cover object-center"
											/>
										</div>
										<div
											class="h-64 w-44 overflow-hidden rounded-lg"
										>
											<img
												src="https://img.freepik.com/fotos-premium/vision-senderismo-cielo-pareja-al-aire-libre-juntos-viajes-libertad-o-aventura-abajo-sonreir-mano-vista-jovenes-felices-naturaleza-explorar-desierto-romance_590464-243207.jpg?w=360"
												alt=""
												class="h-full w-full object-cover object-center"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>

						<a
							href="complaint"
							class="inline-block rounded-md border border-transparent bg-purple-600 py-3 px-8 text-center font-medium text-white hover:bg-indigo-700"
						>
							¡Denuncia Ya!
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
